<div class="container">

  <% flash.each do |key, value| %>
    <% if key == "notice" %>
      <div class="alert alert-success" role="alert">
        <%= value %>
      </div>
    <% end %>
    <% if key == "alert" %>
      <div class="alert alert-danger" role="alert">
        <%= value %>
      </div>
    <% end %>
  <% end %>

</div>
